name: Dependabot Automerge

'on':
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  dependabot-automerge:
    uses: leynos/shared-actions/.github/workflows/dependabot-automerge.yml@235d2d07b9a321364a742310873f6732d7228e72
    permissions:
      contents: write
      pull-requests: write
    secrets: inherit
